/* i can add it here as import or to html as link */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
:root {
  --line-border-fill: #123456;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

/* white line behind, psudo element */
.progress-container::before {
  content: '';
  background-color: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  z-index: -1;
  transform: translateY(-50%);
}

.progress {
  background-color: #123456;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 0%;
  z-index: -1;
  transform: translateY(-50%);
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 33%;
  height: 30px;
  width: 30px;
  /* center numbers in the circle */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #e0e0e0;
  transition: 0.4s ease-out;
}
.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  color: white;
  background-color: var(--line-border-fill);
  border: 0;
  cursor: pointer;
  font-family: inherit;
  padding: 0.81rem 1.5rem;
  margin: 2rem 0.5rem;
}

.btn:active {
  transform: scale(0.95);
}

.btn:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
